@charset "utf-8";
.fl{
	float:left;
}

.dd{
	clear:both;
	margin:4px 0;
	width:100%;
	height:4px;
}
.outbar{
	border:1px solid #dedede;
	
	background:#fff;
	height:10px;
	width:22%;
	float:left;
}

.inbar{
	height:10px;
	
	border-right: #000000 1px solid;
	border-top: #FFFFFF 1px solid; 
	border-left: #FFFFFF 1px solid;
	border-bottom: #000000 1px solid; 
}
