/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

mx|TabNavigator {
	tab-style-name:"myTabs";
}

.myTabs {
	up-skin:ClassReference("studentLogin.com.skins.TabNavigatorTabSelectedSkinMsg");
	
	down-skin:ClassReference("studentLogin.com.skins.TabNavigatorTabSelectedSkinMsg");
	
	over-skin:ClassReference("studentLogin.com.skins.TabNavigatorTabSelectedSkinMsg");
	
	disabled-skin:ClassReference("studentLogin.com.skins.TabNavigatorTabSelectedSkinMsg");
	
	selected-up-skin:ClassReference("studentLogin.com.skins.TabNavigatorTabSkinMsg");
	
	selected-down-skin:ClassReference("studentLogin.com.skins.TabNavigatorTabSkinMsg");
	
	selected-over-skin:ClassReference("studentLogin.com.skins.TabNavigatorTabSkinMsg");
	
	selected-disabled-skin:ClassReference("studentLogin.com.skins.TabNavigatorTabSkinMsg");
}

